@page "/"


<PageTitle>Index</PageTitle>
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/app.css">
    </head>
    <body>
        <h1 class="N-MidBox">
            <span style='border:2px black solid; font-size:42px;'>
                News & Reviews
           </span>
        </h1>

        <div>
            <div class=".cent">
                <h2>
                    Our reviews
                </h2>
                <p>Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text</p>
            </div>
        </div>
    </body>
</html>
